[2013-08-28 03:51] stadia opened #2 "에러 상황에서 로그가 너무 많이 떨어집니다"
runWithTx 와 run 메소드에서 에러가 발생할 경우 로그가 너무 많이 떨어집니다.

ERROR 2013-08-28 12:45:45 ip-10-132-194-166 [http-bio-8080-exec-205] o.h.cache.redis.jedis.JedisClient:433 - Redis 작업 중 예외가 발생했습니다.
redis.clients.jedis.exceptions.JedisDataException: EXECABORT Transaction discarded because of previous errors.
    at redis.clients.jedis.Protocol.processError(Protocol.java:59) ~[jedis-2.1.0.jar:na]
    at redis.clie

[2013-08-28 15:45] #2 closed, assigned to nobody

[2013-08-28 15:48] debop opened #3 "내부 Lockable 처리 시 InvalidCasting 예외가 발생합니다."
Transactional, ReadWrite 시에 Lockable 로 지정하여 관리하는데,
일반 Value와 Lockable로 Wrapped 된 Value가 혼동이 되는 경우가 있었습니다.

이로 인해 InvalidCasting 예외가 발생합니다.

[2013-08-28 23:14] #3 closed, assigned to debop

[2013-09-03 08:36] stadia opened #4 "deleteRegion 에서 NullPointerException 이 발생합니다"
JedisClient 클래스의 deleteRegion 에서 널포인트 에러가 떨어집니다.

keySet을 가져오기 위한 run 메소드에서 redis와 연결에 문제가 있어서 null을 리턴하고
keySet.size()을 호출해서 나는 것 같습니다.

Caused by: org.hibernate.cache.CacheException: java.lang.NullPointerException
    at org.hibernate.cache.redis.jedis.JedisClient.deleteRegion(JedisClient.java:324) ~[hibernate3-redis-1.2.0.jar:na]
    at org.hibernate.cache.redis.regions.RedisTransactionalDataRe

[2013-09-09 05:34] #4 closed, assigned to nobody

[2013-09-14 02:55] debop opened #5 "Redis 저장소를 Hashes 로 변경"
Hashes key sub-key value 형식을 이용하여
region entity-key entity 로 저장한다.

region 삭제도 del region 으로 한번에 할 수 있다.
region 삭제 전 exists 로 삭제 여부를 판단할 수 있다.

기존의 entity 의 region 은  entity의 fullname 으로 강제되었는데, Hashes 를 이용하면,
지정된 region 을 사용할 수 있다.

[2013-09-14 03:18] debop opened #6 "Cache Expiry 기능 추가"
Redis 의 Expire 값을 모든 Region에 적용한다.
Expiry 설정 정보를 지정하는 것도 넣는다.

[2013-09-28 06:36] #6 closed, assigned to nobody

[2013-09-28 06:37] #5 closed, assigned to debop

[2013-11-19 03:44] debop opened #7 "setting expiry timeout per region"
at first default expiry is setup now.
different timeout per region can't setup.

[2013-11-19 06:09] #7 closed, assigned to nobody

[2013-11-22 06:33] stadia opened #8 "프로젝트를 jdk 6 이상으로 변경했으면 합니다"
프로젝트가 jdk7 이상 지원입니다만
아직 6를 사용하는 곳도 많고 저 또한 6를 사용하고 있기에
jdk 버전을 6 이상으로 변경했습니다.

[2013-11-22 06:53] #8 closed, assigned to nobody

[2014-01-27 20:27] skyebook opened #9 "Add hibernate-redis to Maven Central"
First, thanks for the work you've put into this great project!

If I understand the README correctly, it seems that you aren't sure how to add this project to the Maven Central repository.  I would like to help get this into the central repository if that is possible.

**If this is not a task you're interested in undertaking, I would be happy to make some of the minor changes needed and create pul

[2014-02-05 01:01] debop opened #10 "use develop branch, please"
if you indent to modify source, use 'develop' branch and make todo task for release.

Thanks!

[2014-02-09 09:01] debop opened #11 "support replicated redis server"
Redis support replication, master-slave mode (write to master, read from slaves)

need to support master-slave mode : [Jedis MasterSlave Distribution]( https://github.com/xetorthio/jedis/wiki/AdvancedUsage#wiki-a-note-on-redis-masterslave-distribution )

1. make RoundRobinPool or UnifiedJedis
2. build parser for configuration of Redis servers

[2014-02-16 11:29] CeccoCQ opened #12 "Hibernate-redis and Amazon Elasticache"
Hi,

I'm working with hibernate-redis project.
I've a MySQL database with all entities marked with this annotations:

@Cacheable
@Cache(usage=CacheConcurrencyStrategy.READ_WRITE, region="MyEntity")

and for each @OneToMany relationships, I've:
@Cache(usage=CacheConcurrencyStrategy.READ_WRITE, region="MyEntity.MyEntity2")

In my hibernate-redis.properties I've set these fields:

redis.host=myamazon

[2014-03-07 14:27] #9 closed, assigned to nobody

[2014-03-08 19:01] #10 closed, assigned to nobody

[2014-03-11 15:49] ghost opened #13 "초기 로딩 시 java.util.ConcurrentModificationException 발생."
안녕하세요.  hibernate-redis 를 적용하여 사용하고 있는데,
초기 부트 타임 시 간헐적(?)으로 아래와 같은 Exception이 발생하고 있습니다.

[code]

소스를 살펴보니

AbstractRedisRegionFactory.java에서 Set형인 'regionNames' 컬렉션이 'manageExpiration' 메소드에서 루핑을 하는 동안 다른 스레드가 'buildXXX' 메소드 안에서 추가를 해줘서 'ConcurrentModificationException'이 발생하는 것 같습니다.  'manageExpiration' 메소드 안에서 'regionNames' 변수를 동기화하거나 clone하여 루핑하면 일단 해결될 것 같은데....한번 확인 부탁드리겠습니다 :)

[2014-03-12 04:41] #13 closed, assigned to nobody

[2014-03-15 04:19] debop opened #14 "Compress Cache Item"
add option to compress cache item with [snappy-java](https://github.com/xerial/snappy-java) for save Redis data size.

it loose few speed but save data size.

[2014-03-18 13:19] debop opened #15 "change Java Built In Serializer to Fast-Serializer"
I test some serializer for reduce cache size and increse speed serialization.

try message pack, google proto-buff, Kryo, Fast-Serialization ...

Message Pack need @Message annotation (if you want not to use, register type)
proto-buff, Kryo does not match for JPA
but Fast-Serialization is fast and simple, thread-safe!

I make some benchmark ...

warn-up : 37098
binary-small : 59590
binary-long : 3

[2014-03-22 15:44] debop opened #16 "add Chill (from Kryo) serializer"
add another serializer (kryo or chill)
and compare with snappy.
1. adopt chill
2. decorator by snappy
3. add configuration to use snappy and chill

[2014-03-24 23:22] #16 closed, assigned to debop

[2014-03-24 23:22] #15 closed, assigned to debop

[2014-03-24 23:23] #14 closed, assigned to debop

[2014-04-09 16:37] camaral1 opened #17 "Allow external configuration file"
Calling the above

 InputStream is = JedisTool.class.getClassLoader().getResourceAsStream(cachePath);

forces the configuration hibernate-redis.properties to be inside the classpath.
Would be great if it was possible to define the configuration file anywhere the system.

[2014-04-09 18:22] #17 closed, assigned to nobody

[2014-05-04 02:56] apotapov opened #19 "Enum serilization issue"
I have the following enum that serves as a field on a hibernate entity:

[code]

Entity:

[code]

[2014-05-05 07:32] #19 closed, assigned to nobody

[2014-06-08 09:01] kwon37xi opened #20 "org.hibernate.cache.redis.regions.RedisDataRegion#destroy 메소드에 관한 질문"
먼저 제가 스스로 다른 Hibernate 캐시를 구현하면서 배성혁님의 소스를 많이 참조하고 있습니다. 그러면서 분석하고 배우고 그러고 있습니다. 고맙습니다.

org.hibernate.cache.redis.regions.RedisDataRegion#destroy 에 관한 질문입니다.
현재 이 메소드는 region을 삭제하는 것으로 보이는데요, ( hibernate의 다른 캐시 구현체들도 모두 그렇게 구현하고 있더군요). 문제는 이 메소드가 SessionFactory.close()가 호출될 때 모든 Region을 돌며 호출된다는 점입니다.

여러 웹 서버가 동일한 Redis 캐시를 바라보고 캐싱을 하는데 그 중에서 한 대의 웹서버가 종료되면, 그 순간 SessionFactory.close() 호출 -> 모든

[2014-06-11 13:56] #20 closed, assigned to nobody

[2014-07-01 14:10] boris-toninski opened #21 "Maven problem - Failure to find com.github.debop:hibernate-redis-parent:pom:1.6.0"
Maven gives me an error when I try to build my project with hibernate-redis dependency. I have tried with hibernate-redis 1.6.0 and 1.5.9 versions and maven 3.0.4 and 3.2.1.

The maven gives me following error:
Failed to execute goal on project mdm-services: Could not resolve dependencies for project com.tmsw.mdm.services:mdm-services:war:1.0-SNAPSHOT: Failed to collect dependencies at com.github.

[2014-07-04 10:55] #21 closed, assigned to nobody

[2014-07-10 13:35] nottix opened #22 "Redis 2.8 support"
Any plan to support Redis 2.8?

[2014-07-10 16:20] #22 closed, assigned to nobody

[2014-07-11 15:54] apotapov opened #23 "Access to FSTConfiguration in FstRedisSerializer"
First off, thanks for a great library! I'm looking forward to integrating it into my project. But I hit a bit of roadblock at the moment.

TL:DR; Please provide access to FSTConfiguration file that's instantiated inside of FstRedisSerializer.

I'm using Java Play framework (http://www.playframework.com/) as an application container for my app. It uses its own ClassLoaders to provide on the fly rec

[2014-07-13 08:23] #23 closed, assigned to nobody

[2014-07-20 14:05] nottix opened #25 "Concurrent access"
If two hibernate instance with hibernate-redis accesses concurrently at same resource, can occur a race condition?

1. B make a slow query.
1. A make a fast query and put a new element in cache, named test1 with value X;
2. B finish its slow query and modify test1 element changing its value to Y.

But the most updated value is X.

[2014-09-16 01:58] forfuns opened #26 "Fail to load cache properties"
Something error.
o.h.cache.redis.util.JedisTool - Fail to load cache properties. cachePath=hibernate-redis.properties
java.lang.NullPointerException: null...

I use spring mvc
this my Hibernate configure
[code]

and I change hibernate-redis.properties path to "WEB-INF/xx" "/xx", "E:/workspace absolute path/WEB-INF/xx" allway fail load

[2014-11-05 18:32] dyorgio opened #28 "Update FST lib version"
Some classes don´t deserialize correctly without update version of FST to 1.63:

org.threeten.bp.*

Backport of Java8 Date classes to Java7 (http://www.threeten.org/)

[2014-11-06 19:16] dyorgio opened #29 "Destroy JedisPool on RedisRegionFactory.stop()"
Today, code is only setting redis(JedisClient) instance to null.

This cause some problems when undeploy a application in a JEE server,
because classloader was done.

Just call destroy before clean redis instance:

[code]

[2014-11-10 12:40] dyorgio opened #30 "Support to another strategy of cache expiration."
Maybe this library can support another type of expiration strategy:

Today:
 Daemon cleaning Thread.
 Z scored set put on user put.
 Z verification ou user get.

Proposal:
 Store values with 8 bytes long prefix (expiration date) metadata.
 When user gets value, verify expiration metadata first.
 If expired, return null and send a delete command in background, if not return object.
 Define expirati

[2015-03-13 01:58] bostanio opened #31 "Add support for JedisSentinelPool creation in RedisTool"
JedisTool only supports creating a JedisPool but JediSentinelPool would be great. It would be simple enough to key off the presence of config settings for master and sentinel values to switch which pool to create.

[2015-03-13 02:31] bostanio opened #32 "Allow JedisTool cacheProps to be set without going through the JedisTool"
The indirection of the DataRegions calling static methods to get their expiration times requires all you to go through the JedisTool to create a JedisClient etc. This is awkward in many situations in particular for plugins such as the Grails wrapper that is currently bypassing that configuration altogether (and hence not getting configuration per cache region:

https://github.com/Alotor/grails-red

[2015-07-07 00:49] cooniur opened #37 "Serialization doesn't support LocalDateTime from Java 8 (java.time)"
Here is the stack trace:

	2015-07-06 17:46:32.734  WARN 64242 --- [io-12345-exec-2] o.h.c.r.serializer.FstRedisSerializer    : Fail to deserialize bytes.

	java.io.IOException: java.lang.RuntimeException: java.io.StreamCorruptedException: Unknown serialized type
		at de.ruedigermoeller.serialization.FSTObjectInput.readObject(FSTObjectInput.java:168)
		at org.hibernate.cache.redis.serializer.FstRe

[2015-07-07 00:57] debop commented on #37
I used FST for JVM 1.6.
I will changing FST to JVM 1.8 supported version as soon as possible.

[2015-07-07 03:31] slin1972 opened #38 "Test problems"
Hello, I'm using this class of JpaRepositoryTest.java for testing:

@Slf4j
@RunWith(SpringJUnit4ClassRunner.class)
@ContextConfiguration(classes = { JpaMySqlConfiguration.class })
public abstract class AbstractJpaTest {

I've changed it, and I have successfully initialized the database.

When I use employeeFindByEmpNo

@Test
    public void employeeFindByEmpNo() {
        Employee emp = new Employ

[2015-07-07 07:19] slin1972 commented on #38
@QueryHints({ @QueryHint(name = "org.hibernate.cacheable", value = "true") })
Is this sentence necessary?

[2015-07-13 11:43] kreyssel opened #39 "Release it on central"
Hi,

do you think you are able to release your project on maven central or bintray? Would be great! :)

It's a great project!

Thanks
Conny

[2015-07-18 10:19] debop commented on #37
Upgrade FST for JVM 1.8.

[2015-07-18 10:20] #37 closed

[2015-07-18 10:20] debop commented on #28
Thanks.
upgrade FST and release 1.6.2

[2015-07-18 10:20] #28 closed

[2015-08-05 13:59] lbornov2 opened #40 "Provide the ability to read Redis-specific properties from an external source"
Currently, JedisTool relies on a private static method called "loadCacheProperties" to read redis-specific property values.  It will attempt to read from a file, which is either on the file system, or in the classpath.

This type of implementation is shortsighted, as it doesn't give the user the ability to read the values from an external data source (such as a distributed key/value system, i.e. e

[2015-09-02 13:07] forfuns opened #41 "hibernate.redis.properties file configure redis.password cant work"
[code]

error logs message :

21:03:18.812 [Thread-11] WARN  o.h.cache.redis.jedis.JedisClient - Error in Cache Expiration Method.
redis.clients.jedis.exceptions.JedisConnectionException: Could not get a resource from the pool
	at redis.clients.util.Pool.getResource(Pool.java:42) ~[jedis-2.5.1.jar:na]
	at redis.clients.jedis.JedisPool.getResource(JedisPool.java:84) ~[jedis-2.5.1.jar:na]
	at org.hi

[2015-09-02 13:55] forfuns commented on #41
I saw the debug code , is code cache not update , not a bug , sorry , my mistake

[2015-09-02 13:55] #41 closed

[2015-09-15 16:51] hutch13015 opened #42 "Serialization issue when tomcat reload"
Hello,

Thanks for your work.

Thanks to issu https://github.com/debop/hibernate-redis/issues/19, I  can set my classloader to the conf with:
FstRedisSerializer.getConf().setClassLoader(Thread.currentThread().getContextClassLoader());

Everything works fine when my application starts. When the application reloads I have this stacktrace:

org.hibernate.PropertyAccessException: could not set a field

[2015-09-15 17:47] RuedigerMoeller commented on #42
in case you need assistence/fst changes. let me know :)

[2015-10-29 10:20] #38 closed

[2015-10-30 12:25] z0mb1ek opened #43 "Cannot download 1.6.2 version"
I see it on http://dl.bintray.com/debop/maven/com/github/debop/hibernate-redis/1.6.2/ but cannot download from maven

[2015-11-30 21:11] eweise opened #44 "Does hibernate-redis work with cglib?"
Hi!

I'm getting a deserialize warning when trying to access a lazily instantiated reference. Do you know if this library supports CGLIB and if so Is there anything special I need to do to support lazy references?

Thank You
Eric

12:53:40:309  WARN redis.serializer.FstRedisSerializer:62 - Fail to deserialize bytes.
java.io.IOException: java.lang.RuntimeException: java.io.StreamCorruptedException:

[2015-12-18 14:23] jeffmaury opened #45 "Change some log message"
Turns out that when the Redis server is stopped, an exception message is generated every second because the expiration timer is waked up every seconds. This leads to lot of messages being generated. I think this should be changed either by changing the severity of the message or by controlling the rate at which the message is generated (for example, generate only one message per slot of 30s)

[2015-12-18 14:24] jeffmaury opened #46 "Deploy source and javadoc to Bintray"
Artifacts are deployed to Bintray but as of yet, only binary artifacts are deployed. To ease debugging, it should be useful to deploy also source and Javadoc artifacts

[2015-12-18 14:28] jeffmaury opened #47 "Allow configuration from hibernate configuration"
The configuration is performed from hibernate-redis.properties configuration file. It should be great (for better integration with Spring Boot for example) if the keys could be loaded from the hibernate configuration that is given to the factory. The rationale could be that if we can't load the file (because it doesn't exist, then get the keys from the hibernate configuration.

[2016-01-25 14:15] xupanwilson opened #49 "I configed redis as my hibernate's second cache, But I can't see any items in my redis."
1.My code to operate hibernate:
SessionFactory sessionFactory = new OracleUtils().createHibernateSessionFactory("hibernate.cfg.xml");
	sessionFactory.getStatistics().setStatisticsEnabled(true);
        sessionFactory.getStatistics().clear();
        Session session = sessionFactory.openSession();
        session.beginTransaction();
        Emp emp = new Emp((int)Math.floor(Math.random()*100 + 1));

[2016-03-27 14:15] johnou commented on #46
@jeffmaury I have forked this project with bostanio and it has been deployed to central maven with sources. See https://github.com/hibernate-redis/hibernate-redis

[2016-03-27 14:17] johnou commented on #44
@eweise I have forked this project with bostanio, feel free to try out our 1.6.3 release which has an updated fst dependency.

[2016-03-27 14:18] johnou commented on #39
@kreyssel I have forked this project with bostanio and it has been deployed to central maven. See https://github.com/hibernate-redis/hibernate-redis

[2016-03-27 14:18] johnou commented on #43
@kreyssel I have forked this project with bostanio and it has been deployed to central maven. See https://github.com/hibernate-redis/hibernate-redis

[2016-03-27 18:20] jeffmaury commented on #46
Do you have an agreement with @debop ? Because if you don't ch

[2016-03-27 18:32] johnou commented on #46
No agreement with debop as he is not responding. I don't see it being a problem, he never published to central maven and we have changed the artifact group id from io.github.debop to io.github.hibernate-redis.

[2016-03-30 15:21] bostanio commented on #40
this is fixed as part of changes here: https://github.com/hibernate-redis/hibernate-redis/pull/3

Note that we are now maintaining an active fork an publishing releases from here:  https://github.com/hibernate-redis/hibernate-redis

[2016-03-30 15:24] bostanio commented on #25
There is now distributed Timestamper support added as part of this pull request: https://github.com/hibernate-redis/hibernate-redis/pull/2. I would hope that this fixes the problem you see but it would need to be tested.

Note that we are now maintaining an active fork an publishing releases from here: https://github.com/hibernate-redis/hibernate-redis

[2016-03-30 15:25] bostanio commented on #47
I'm pretty sure this is fixed by changes as part of this PR: https://github.com/hibernate-redis/hibernate-redis/pull/3

Note that we are now maintaining an active fork an publishing releases from here: https://github.com/hibernate-redis/hibernate-redis

[2016-03-30 15:29] bostanio commented on #30
I like it. Eliminating the cleaning thread would be nice. Happy to accept a Pull Request over in our fork that we intent to maintain and release from: https://github.com/hibernate-redis/hibernate-redis/

[2016-03-30 16:09] dyorgio commented on #30
:(, sorry, it is in a private repository.
If I use this lib again I will do it!

[2016-04-19 15:20] ptahchiev opened #50 "Provide support for hibernate 5.1"
Please provide support for hibernate 5.1

[2016-04-28 22:00] nottix commented on #25
Thank you @bostanio

[2016-04-29 07:26] edolphin-ydf commented on #49
try change this
[code]
to
[code]

[2016-05-17 11:26] debop commented on #45
ok.
2.x will not using custom expiration thread.

[2016-05-17 11:27] debop commented on #44
Thanks @johnou
@eweise  will fixing 2.x

[2016-05-17 11:28] debop commented on #50
@ptahchiev 2.x support hibernate 4.x and hibernate 5.x both

[2016-05-17 11:30] debop commented on #46
@jeffmaury , @johnou No problem. I will upload 2.x source ^^

[2016-05-17 11:33] debop commented on #39
Thanks @johnou
please join this project please.

[2016-05-17 13:37] debop commented on #25
@bostanio Thanks ^^

[2016-05-17 13:37] #25 closed

[2016-05-21 02:30] debop commented on #40
will support external properties with 2.x

[2016-05-26 05:17] debop commented on #50
just release hibernate-redis 2.0.0

use org.hibernate.cache.redis.hiberante5.SingletonRegionFactory.class

[2016-05-26 05:17] #50 closed

[2016-05-26 05:19] debop commented on #47
hibernate 2.0.0 support resource file and outer file.

with 'file://'  you can access outer file.

[2016-05-26 05:19] #47 closed

[2016-05-26 05:20] debop commented on #46
Hmm.... I was deploy source file (not java doc) ...
Can't access source file ?

[2016-05-26 05:21] debop commented on #45
hibernate 2.0.0 change redis client driver from Jedis to Redisson.
Redisson support expiring thread itself, so we have no custom thread for expiring.

[2016-05-26 05:21] #45 closed

[2016-05-26 05:22] debop commented on #44
hibernate 2.0.0 not include fst.
Just include latest fst library in your application.

[2016-05-26 05:22] #44 closed

[2016-05-26 05:25] debop commented on #30
hiberate-redis 2.0.0 use Redisson library which has expiring logic by Lua.

[2016-05-26 05:25] #30 closed

[2016-05-26 05:26] debop commented on #12
hibernate-redis 2.0.0 using Redisson.
Redisson support Redis Cluster, Elasticache, Sentinel, Master-Slaves.
try 2.0.0

[2016-05-26 05:26] #12 closed

[2016-05-26 05:26] #11 closed

[2016-05-26 05:27] debop commented on #43
sorry. my mistake ... missing parent pom.xml

use hibernate-redis 2.0.0

[2016-05-26 05:27] #43 closed

[2016-05-26 05:52] debop commented on #46
hibernate-redis 2.0.0 release with source

[2016-05-26 05:52] #46 closed

[2016-05-26 05:53] debop commented on #42
recommend using 2.0.0 with your fst

[2016-05-26 05:53] #42 closed

[2016-05-26 05:54] debop commented on #40
2.0.0 support external property file by (file:)

[2016-05-26 05:54] #40 closed

[2016-05-26 05:55] debop commented on #31
2.0.0 changes from Jedis to Redisson.
Redisson support Sentinel also. see redisson.yaml configuration

[2016-05-26 05:55] #31 closed

[2016-05-26 23:17] Chaos907 opened #51 "2.x doesn't seem to take in the expirySeconds into account."
I tried using the following config with the expiryInSeconds set to 7200 (2 hrs) but it's still expiring in 1 minute. I am using 2.x along with hibernate 5.1.0.FINAL.

Belong is my hibernate-redis.xml

 ##########################################################
 #
 # properities for hibernate-redis
 #
 ##########################################################

 # Redisson configuration file
 redis

[2016-05-27 00:34] debop commented on #51
Oh! it was milliseconds ... I will fix it at 2.0.1

[2016-05-27 02:20] debop commented on #39
@kreyssel
Release to jcenter (http://jcenter.bintray.com)
please use jcenter

[2016-05-27 02:45] debop commented on #51
@Chaos907 fix it 2.0.1

[2016-05-27 02:45] #51 closed

[2016-05-30 10:45] cnticws opened #52 "can not use release 1.6.2"
Could not find artifact com.github.debop:hibernate-redis-parent:pom:1.6.2 in http://dl.bintray.com/debop/maven/

[2016-05-31 10:09] debop commented on #52
@cnticws
sorry, I missing parent pom...
upload hibernate-redis-parent pom 1.6.2 to bintray^^

check it out

[2016-05-31 10:09] #52 closed

[2016-06-01 01:25] cnticws commented on #52
http://dl.bintray.com/debop/maven/com/github/debop/hibernate-redis-parent/1.6.2/

no any file yet, only an empty folder...

[2016-06-01 11:26] debop commented on #52
sorry
because only upload not publish ...
try it right now please.

[2016-06-01 13:34] cnticws commented on #52
ok. thanks a lot!

[2016-06-30 14:24] ignaciolarranaga opened #53 "Suggested dependencies for the readme"
Hi just gone through the configuration with hibernate5/spring and detected some probably missed dependencies. Don't know but commenting just in case.
[code]

[2016-07-02 10:37] debop commented on #53
OK. Thanks your sugestion.

[2016-07-13 04:52] debop opened #54 "Support Java 6 in FST"
FST support Java 6 in different artifact and package name.

To support Java 6 with FST, New FST Codec needed for Redisson.
Redisson using FST which support Java 7 or higher

[2016-07-13 05:05] debop commented on #53
add optional depencencies information to README.md (2.0.2)

[2016-07-13 05:05] #53 closed

[2016-07-22 08:27] ABHINAVKR commented on #26
@forfuns @debop
You need to append **file:** prefix before the physical path it worked for me. e.g
<prop key="hibernate.cache.provider_configuration_file_resource_path"> **file:**/server/hibernate/hibernate-redis.properties</prop>

[2016-08-02 03:10] vchau opened #55 "Question: missing hibernate-redis-client jar?"
Hi,
I'm trying to use the 2.0.2 release and have added the maven dependencies as explained in the readme but maven is complaining that `Could not find artifact com.github.debop:hibernate-redis-client:jar:2.0.2`

This is what I added in my pom.xml
[code]

I've also added the jcenter repository into my pom and am able to see the other jars.  When I browse to the jcenter repo, I can see the hibernate

[2016-08-02 16:28] debop commented on #55
I missing shadowJar tasks (merge sub module jar files)
I published new version 2.0.3
please using 2.0.3

sorry for inconvience for using^^

[2016-08-02 16:28] #55 closed

[2016-08-02 23:14] benleov opened #56 "Maven repository issues"
Hi,

I'm trying to use Nexus to use http://dl.bintray.com/debop/maven/ to pull in 2.0.2 as a runtime dependency with gradle but its having problems.  I'm not very familiar with how maven is setup but it lists hibernate-redis-client, hibernate-redis-hibernate4 and hibernate-redis-hibernate5 as compile time dependencies however it cant find these in any repo.  Have I misconfigured Nexus or do these

[2016-08-02 23:44] debop commented on #56
Sorry, its my mistake
Omitted merge jars.

Use 2.0.3 please

[2016-08-03 00:03] benleov commented on #56
2.0.3 is now pulling in correctly. Thank you for your help.

[2016-08-03 00:03] #56 closed

[2016-08-03 06:55] vchau commented on #55
Worked. Thank you.

[2016-08-08 19:14] nileshprataprao opened #57 "SingletonRedisRegionFactory is not loading in spring xml based config"
I am trying to configure this with xml based config but  it throwing error. here is my config file
`	<property name="hibernate.cache.use_second_level_cache" value="true" />
			<property name="hibernate.cache.use_query_cache" value="true" />
			<property name="hibernate.cache.region_prefix" value="hibernate" />
			<property name="hibernate.cache.query_cache_factory" value="org.hibernate.cache.redis

[2016-08-09 15:32] #57 closed

[2016-08-10 19:29] contentfree commented on #9
Can central be updated with 2.x?

[2016-08-15 15:46] mrniko opened #58 "Use `fastPut` methods instead of `put`"
Hi!

I have reviewed your integration with Redisson. Great work! I would recommend to replace `RMapCache.put` methods to `RMapCache.fastPut` in [RedisClient](https://github.com/debop/hibernate-redis/blob/master/hibernate-redis-client/src/main/java/org/hibernate/cache/redis/client/RedisClient.java) as these methods work faster.

[2016-08-15 19:33] vchau opened #59 "Which Redis maxmemory policy eviction is appropraite"
Hello,
Thank you for this great library.  I have a question regarding redis configuration.

I'm trying to fine tune my setup and one of the thing which I need to configure is the redis maxmemory eviction policy.  I noticed that hibernate-redis/redisson is not setting the ttl value on cache regions in Redis.  What is the recommended eviction policy?  Right now, I think `allkeys-lru` and `allkeys-ra

[2016-08-16 05:03] johnou commented on #58
@mrniko can you explain in what cases one should use put over fastPut?

[2016-08-16 05:12] johnou commented on #54
Hibernate 5.2 is built using Java 8 JDK and will require Java 8 JRE at runtime https://github.com/hibernate/hibernate-orm/wiki/Migration-Guide---5.2 , I don't think adding support for Java 6 is worth the trouble.

[2016-08-16 05:18] johnou commented on #49
@xupanwilson you should really take care pasting configs like that and remove passwords.

It could be that your queries are not causing any entities to be held in second level cache, you should avoid hsql for example.

If you can also provide your DOA or better still a reproducer project we can try and help further.

[2016-08-16 05:18] #49 closed

[2016-08-16 05:19] johnou commented on #29
Redisson is now used.

[2016-08-16 05:19] #29 closed

[2016-08-16 05:24] johnou commented on #59
@debop looks like the old expiration thread has been removed, did you have some thoughts on how this could be improved?

old code

[code]

[2016-08-16 06:06] debop commented on #58
Thanks for good sugestion.

put / fastPut is whether waiting response.
if CacheItem need not waiting response, can change to fastPut^^

I'll change to fastPut

[2016-08-16 06:38] johnou commented on #58
Sounds like it could lead to races when inserting data into the cache?

[2016-08-16 06:53] debop commented on #59
First, I'm not good at English^^

You can set expiration time per region name.

Redisson implement this ttl in Lua code itself.

[2016-08-16 06:57] debop commented on #54
We need Java 6 ㅠ.ㅠ (South Korea Government require Java 6 yet ...)
Hibernate 5.2 big changes, we need other branch and support Java 8 or higher only.
but Hibernate 5.1.x or Lower support Java 6 or Higher
We need planning to Support Hibernate 5.1.x and Hibernate 5.2.x or Higher

[2016-08-16 07:00] debop commented on #26
Please, use 2.0.3 or higher

[2016-08-16 07:00] #26 closed

[2016-08-16 07:00] debop commented on #32
Sorry no response ㅠ.ㅠ

[2016-08-16 07:00] #32 closed

[2016-08-16 07:58] mrniko commented on #58
@johnou

Actually no. `put` methods always return previous value which leads to excess command execution in lua script (`hget` to get previous value) and data transfer over network.

[2016-08-16 08:15] johnou commented on #59
@debop sounds like this issue could be closed as not a bug then if expiration for region is handled by Redisson.

[2016-08-16 09:42] debop commented on #59
Yes exactly ^^

[2016-08-16 12:58] debop commented on #58
apply to 2.0.4-SNAPSHOT

[2016-08-16 12:58] #58 closed

[2016-08-16 13:40] #59 closed

[2016-08-25 21:58] contentfree opened #60 "Do we have to add @Cache annotations to @OneToMany relationships?"
Started using hibernate-redis and are running into problems. We have an entity that has `CacheConcurrencyStrategy.READ_ONLY`. It also has an eager-fetched OneToMany relationship for a collection of another ready-only entity.

When the cache is empty all the code works fine… and the cache entry is made for the entities. This is where the problem enters. As long as that entry exists in the cache, su

[2016-08-26 09:11] johnou commented on #39
@debop when I get back from holiday I will take care of getting this library into Maven central.

[2016-08-27 03:14] debop commented on #60
I think @Cache for individual entity.
In Master-Detail (One-To-Many) relations, if master applied @Cache annotation, but detail entity has not applied, detail entity not cached.
All entity cached by entity identifier (classname + # + identifier)

For more details, show me your code please.

[2016-08-29 19:02] mrniko opened #61 "Upgrade to Redisson 2.3.0"
Some projects ready to move on 2.3.0 version but can't do it because hibernate-redis still uses 2.2.x version which is not compatible with 2.3.0 version

[2016-08-29 23:37] debop commented on #61
Thanks infomation.

commit https://github.com/debop/hibernate-redis/commit/4d149ce6eb1179482fc0446a37de6e6364de6bf9

[2016-08-29 23:37] #61 closed

[2016-08-30 04:34] debop opened #62 "hibernate-redis 2.0.4 with Redisson 2.3.0"
Redisson 2.3.0 not support backward compatibility.
if you use Redisson 2.2.x, use hibernate-redis 2.0.3

hibernate-redis 2.0.4 using Redisson 2.3.x

[2016-08-30 04:35] debop opened #63 "Gradle build failed"
I have no idea ....

I will fix it ...

[2016-08-31 10:43] debop commented on #63
fix it release 2.1.0

[2016-08-31 10:43] #63 closed

[2016-08-31 10:43] #62 closed

[2016-08-31 12:17] Dreampie opened #64 "Can you support read config from spring boot application.properties?"
like this(application.yml):
[code]

[2016-09-01 05:52] debop commented on #64
OK, I will make it.

[2016-09-01 11:10] Dreampie commented on #64
thanks，and It is best to read the redis from spring boot config or use spring `RedisCacheManager`

[2016-09-02 08:10] mrniko commented on #62
When do you plan to release it?

[2016-09-02 11:07] johnou commented on #62
@debop might be worth bumping the minor version.

[2016-09-02 11:32] debop commented on #62
@mrniko , @johnou
I'm already release 2.0.4 ... and bumping up to 2.1.0 ^^

[2016-09-04 07:10] sreekanthsnair opened #65 "Multitenancy support"
Does this implementation support tenant aware cache?

[2016-09-04 07:31] debop commented on #65
Not yet.

[2016-09-04 07:55] sreekanthsnair commented on #65
@debop thanks, is there any hope streamlining its support?

[2016-09-04 10:56] GeBeater opened #66 "Is it possible to configure redisson programmatically?"
Like the Redisson documentation linked below, Redisson can be configured programmatically or declarative. For my use case, it would be more flexible to use the programmatically way. So my question is, whether it is possible to use the dedop:hibernate-redis library together with the programmatically redisson configuration?

https://github.com/mrniko/redisson/wiki/2.-Configuration

[2016-09-05 00:51] debop commented on #39
@johnou Thank you ^^

[2016-09-05 00:53] debop commented on #65
@sreekanthsnair we will try it next minor release in semtember

[2016-09-05 00:58] debop commented on #66
I can't find configure in promgramatic.
hibernate instancing RegionFactory by configuration only. ( hibernate.cache.provider_configuration_file_resource_path )

[2016-09-05 07:31] sreekanthsnair commented on #65
Thanks @debop

[2016-09-05 10:26] debop commented on #54
@johnou
I commited some code to support Hibernate 5.2.x ^^

[2016-09-10 10:19] #64 closed

[2016-09-10 10:24] debop opened #68 "Support JCache in Hibernate 5.2.x"
Hibnerate 5.2.x support JCache (hibernate-jcache module)

hibernate-redis will also support JCache

[2016-09-10 13:33] debop commented on #68
create new repository : [redisson-jcache] (https://github.com/debop/redisson-jcache)

[2016-09-10 13:33] #68 closed

[2016-09-10 13:52] Dreampie commented on #64
yes，hibernate config is ok why not use spring redis config？

[2016-09-10 13:54] Dreampie commented on #64
and in cloud config application.yml , this will work fine?

[2016-09-11 06:35] GeBeater commented on #64
@Dreampie With the current pull request, I made it possible to configure hibernate via the "default" properties mechanism instead of the usage of an additional hibernate.properties file. In my use case, I am working with spring property files instead of yaml configuration which working fine. I guess that it should also work with yaml files because [Using YAML instead of Properties](http://docs.spr

[2016-09-12 19:26] johnou commented on #39
@debop unfortunately the gradle shadow plugin does not support sources jar out of the box see https://github.com/johnrengelman/shadow/issues/112 and https://github.com/johnrengelman/shadow/issues/41 , if I cannot get it working would you be against reverting back to Maven..?

[2016-09-12 20:29] johnou commented on #39
The other option is to drop the shaded jar and ship individual artifacts.

[2016-09-13 02:44] debop commented on #39
@johnou I know that problem ...
so, try maven also (it need publish parent pom also)

I will rollback to Maven ...
but, help me to publish jcenter or maven central directly in maven pom^^

[2016-09-15 13:48] rotis23 opened #69 "Redis INFO showing db15:keys=170,expires=0,avg_ttl=0"
Just migrated from ehcache as the replication was rubbish - we already have Redis servers so this is great solution. Thanks for your work.

I'm verifying performance as currently much slower than local ehcache (and I would expect some of course) - I have trace logging and can see lots of "set cache item" and "retrieve cache item" so there are definitely hits. However, when I look at redis INFO is

[2016-09-15 14:46] debop commented on #69
@rotis23
expiry value in seconds.

`
public void set(final String region, final Object key, Object value, final long timeoutInSeconds) {
    set(region, key, value, timeoutInSeconds, TimeUnit.SECONDS);
  }

Show me your log

[2016-09-15 16:06] rotis23 commented on #69
Some sanitised logs - obviously lots of retrievals and settings going on.

`2016-09-15 15:14:15,728 INFO  [localhost-startStop-1] [org.hibernate.cache.redis.hibernate4.SingletonRedisRegionFactory] Create SingletonRedisRegionFactory instance.
2016-09-15 15:14:15,755 INFO  [localhost-startStop-1] [org.hibernate.cache.redis.hibernate4.SingletonRedisRegionFactory] Starting SingletonRedisRegionFactory.

[2016-09-15 16:27] rotis23 commented on #69
And using these versions:

    <dependency>
      <groupId>org.hibernate</groupId>
      <artifactId>hibernate-core</artifactId>
      <version>4.3.8-Final</version>
    </dependency>
	<dependency>
		<groupId>com.github.debop</groupId>
		<artifactId>hibernate-redis</artifactId>
		<version>2.2.0</version>
	</dependency>
	<dependency>
		<groupId>org.redisson</groupId>
		<artifactId>redisson</artifac

[2016-09-18 21:25] johnou commented on #39
@debop sure, just let me know when you have rolled back.

[2016-09-19 22:17] johnou commented on #39
@debop never mind about rolling back, I am confident I can get it to work with gradle afterall.

[2016-09-22 17:26] Varsuvius opened #70 "Configuration help"
Hello,

I'm learning about hibernate / redis and I'm trying to configure hibernate-redis to retrieve data from mysql cluster and fed a redis cluster with it. I tried to follow the documentation available for redisson and hibernate-redis but I found it to be so complicated. Is it possible to put at disposal an easy tutorial or some small project samples??

Thanks

[2016-09-23 15:11] mrniko opened #71 "Add documentation page to hibernate-examples module"
Hi!

It would be useful to have some sort of documentation (Readme.md) in `hibernate-examples` module

[2016-09-23 16:43] johnou commented on #39
@debop after further consideration and testing with gradle I think our options are..

1) roll back to Maven (allowing us to have a shaded uber jar)
2) stick with gradle but ship individual jars (with no uber jar) eg. we would have multiple artifacts hibernate-redis-hibernate4, hibernate-redis-hibernate5, hibernate-redis-hibernate52

let me know what direction you would like to go.

[2016-10-04 13:15] debop commented on #39
I want to release merged one jar (hibernate-redis)
If use maven, build merged one jar and one sources jar, but release hibernate-redis-parent.pom also.

or separate hibernate-exampes (or exclude in maven)

I think this is best
    1. use maven for merged jar
    2. exclude hibernate-examples (individual maven pom.xml)

next step, add some instruction to maven pom for distribution

[2016-10-04 13:20] johnou commented on #39
@debop sounds good. I will continue on this soon with your suggestion.

[2016-10-11 08:11] debop commented on #69
Redisson use Lua script for expiration.
Redisson Cache using hashmap (redis key name = hibernate-redis region name)
so hibernate caceh item's ttl not show in redis info (for key)

[2016-10-11 08:11] #69 closed

[2016-10-11 08:12] debop commented on #54
Drop to support Java 1.6 ...
Just support 1.7 or higher

[2016-10-11 08:12] #54 closed

[2016-10-11 08:14] debop commented on #70
I'm not good at English.

If you want to know about, I will make samples in hibernate-examples

[2016-10-11 08:28] debop commented on #71
I try to add documentations

[2016-10-11 08:28] #71 closed

[2016-10-12 00:37] #60 closed

[2016-10-13 01:18] johnou commented on #39
@debop I made a few changes to the poms and ran the release plugin mojo, here is the staging url https://oss.sonatype.org/content/repositories/comgithubdebop-1002/ let me know if this looks good or not, if yes I will proceed with release to central Maven.

[2016-10-13 01:20] johnou commented on #39
![hibernate-redis](https://cloud.githubusercontent.com/assets/323497/19333200/0ce1a842-90f4-11e6-9ced-af44d80b7c6e.png)

[2016-10-13 01:55] johnou commented on #39
~/.m2/settings.xml
[code]

CLI
[code]

[2016-10-13 12:49] debop commented on #39
It seems good!
Thanks

[2016-10-13 14:05] johnou commented on #39
Published to central Maven.

[2016-10-13 14:05] #39 closed

[2016-10-15 18:18] johnou commented on #66
@debop couldn't we allow the developer to extend SingletonRedisRegionFactory and provide a callback to configure Redisson?

[2016-10-16 03:41] debop commented on #66
Ok, that's good idea.
I try to implement callback for programmatic configuration and others.

[2016-10-16 07:51] johnou commented on #66
For inspiration here is how Spring boot allows customising.

[code]

[2016-10-16 11:34] johnou commented on #66
@debop it's a good start, if you don't mind I would like to polish it a bit more.

[2016-10-17 11:00] johnou commented on #66
There was an oversight in the implementation, fixed with https://github.com/debop/hibernate-redis/pull/74

[2016-10-17 11:02] #66 closed

[2016-10-17 14:13] johnou opened #75 "RedisClient creates new RMapCache every time a method is invoked"
https://github.com/debop/hibernate-redis/blob/devel/hibernate-redis-client/src/main/java/org/hibernate/cache/redis/client/RedisClient.java#L159

[code]

@debop shouldn't we be holding on to references of RMapCache? cc. @mrniko

[2016-10-17 14:20] debop commented on #75
getMapCache method create RMapCache every called.
we need to store RegionName-RMapCache in RedisClient.

[2016-10-17 14:38] mrniko commented on #75
RMapCache object creation is cheap operation in terms of memory and cpu resource, but you can cache these instances if you want

[2016-10-17 14:48] johnou commented on #75
@debop maybe ConcurrentHashMap computeIfAbsent or something? We should run a benchmark to see if it's worth the extra boiler-plate code.

[2016-10-17 14:54] johnou commented on #75
@mrniko thanks, I wondered if some weirdness could manifest as a result of the multiple instances.

[2016-10-17 16:27] johnou commented on #75
@debop something like this? Could also cache / lazy init RScript (used in nextTimestamp).

[code]

[2016-10-18 10:42] debop commented on #75
@johnou , exactly.

[2016-10-21 17:08] johnou opened #76 "AbstractPersistentCollection references Regions which have a reference to RedisClient"
When Hibernate returns a proxied object eg. dao loads an object with load the returned object may be of type AbstractPersistentCollection, if an application clones this collection eg. with Kyro that it contains a reference all the way up to RedisClient (see stacktrace below) which may be cloned and then create a new RedisClient resulting in errors such as.. 2016-10-21 16:58:53,483 WARN  [redisson-

[2016-10-21 17:08] johnou commented on #76
Fixed with https://github.com/debop/hibernate-redis/commit/2fa7b5976ecf7f1cbccc15f5df008690bab5d01b

[2016-10-21 17:08] #76 closed

[2016-10-22 09:02] #75 closed

[2016-10-26 03:32] xiamaohan opened #78 "enum Serialization error"
'InpourStatus' is enum

but load cache is error

2016-10-26 11:29:02,312 ERROR --- [o.h.p.access.spi.SetterMethodImpl       :97] - HHH000123: IllegalArgumentException in class: io.jee.caisan.member.domain.BalanceCaidouInpour, setter method of property: status

2016-10-26 11:29:02,312 ERROR --- [o.h.p.access.spi.SetterMethodImpl       :98] - HHH000091: Expected type: io.jee.caisan.member.domain.ext

[2016-10-26 11:10] debop commented on #78
Show your entity which defined 'InpourStatus'
and view hibernate-example for enum type property.

other methods is don't use FST, use plain binary serializer

[2016-10-26 14:27] johnou commented on #78
BalanceCaidouInpour dto would be interesting too as that throws an exception.

[2016-10-27 19:03] mrniko opened #79 "Update Redisson to 2.5.1"
Due to known issue with ElasticacheServers config and Connection pool enhancement

[2016-11-01 11:04] johnou commented on #79
Committed to devel branch, there are some other enhancements I would like to get in before next release though.

[2016-11-01 11:04] #79 closed

[2016-11-01 11:05] mrniko commented on #79
Cool! Thanks!

[2016-11-02 08:53] johnou opened #80 "Support for on-heap caching"
hibernate-redis is currently functions as an off-heap cache provider but Redisson supports on-heap caching too to minimise network traffic (RLocalCachedMap).

We could enhance the hibernate-redis.properties to support the following format (draft):

[code]

cachedmap (Redisson distributed map with minimum read network roundtrips) = org.redisson.api.RLocalCachedMap

This would translate to..

[code]

[2016-11-02 18:13] johnou commented on #80
@debop what do you think?

[2016-11-03 01:22] debop commented on #80
It's good idea.
We must support Near Cache feature and need to separate setting for Near / Distribute.

[2016-11-10 21:08] ptahchiev opened #81 "Support for Jedis client"
Hello,

spring-platform bom includes the jedis dependency. Spring-session uses jedis to connect to a redis instance to keep user sessions, `spring-boot-starter-redis` again declares and uses jedis as a redis client. In a situation like this it would be really helpful if you could provide support for jedis client.

[2016-11-11 14:30] johnou commented on #80
We will need to wait until RLocalCachedMapCache is available in Redisson.

[2016-11-14 04:00] jamie0828 opened #82 "ERR unknown command 'EVAL'"
My redis server does not support EVAL command and got the above error.
I debug into the code ,it seems only hibernate 5.2 is using EVAL but I am using hibernate 4. Why?
Some cloud redis does not support EVAL and EXEC command, is there any way to using hibernate redis on it?

[2016-11-14 12:52] debop commented on #81
hibernate-redis 1.6.x used Jedis. but it is slow.
hibernate-redis 2.x migrate Jedis to Redisson
I guess spring-boot will support redisson hopefully^^

[2016-11-14 12:54] debop commented on #82
It's not relate hibernate version.
Redisson support lastest Redis version.
if your Redis-Server is old, try hibernate-redis 2.0.x  or specify old redisson version.

[2016-11-14 13:54] ptahchiev commented on #81
From the spring-boot gitter channel it looks like they are ditching jedis in favor of Lettuce from 1.5 onwards.

https://github.com/pivotalsoftware/pivotal-cla/issues/124

Do you think you can provide Lettuce support too?

[2016-12-09 12:00] vaibhavswarnkar opened #84 "Snappy Error"
I've implemented this library according to your documentation, but I'm receiving below error in my IDE console.

`  java.io.FileNotFoundException: C:\Program Files\Apache Software Foundation\Tomcat    8.0\temp\snappy-1.1.2-3dcc207e-f63b-44bb-9ca5-964346e8265d-snappyjava.dll (Access is denied)
	at java.io.FileOutputStream.open0(Native Method)
	at java.io.FileOutputStream.open(FileOutputStream.java:

[2016-12-13 13:32] debop commented on #84
try change Snappy codec to others.
see redisson codec wiki  (https://github.com/redisson/redisson/wiki/4.-Data-serialization)

[2016-12-13 14:49] johnou commented on #84
Have you defined a security manager? Looks like it is blocking the JVM from reading the Snappy native library.

[2016-12-22 08:50] vaibhavswarnkar commented on #84
@johnou I've added library using POM, now as far as I know dependencies added using maven are always accessible by JVM. If this is not the case can you just guide me to the right direction.

[2016-12-22 09:23] johnou commented on #84
@vaibhavswarnkar try setting -Dorg.xerial.snappy.tempdir to a directory where you know the user running the Tomcat container has write permission.

[2016-12-22 09:24] johnou commented on #84
@vaibhavswarnkar can you confirm whether or not you are running the JVM with a security manager?

[2016-12-22 11:34] vaibhavswarnkar commented on #84
@johnou No, I'm not running application with JVM security manager.

[2016-12-27 07:58] yanqiuchen opened #85 "SecondaryCache hit count is 0"
why secondary cache hit count  is always 0
Region name=com.hibernate.common, Element in memory=21, hit count=0

[2016-12-27 08:15] #85 closed

[2016-12-27 10:47] vaibhavswarnkar commented on #84
@johnou Did you find any solution for the issue?

[2016-12-27 14:02] johnou commented on #84
@vaibhavswarnkar did you try setting the temp directory as I suggested?

[2016-12-27 16:08] shougaoshougao opened #86 "Does this support READ_WRITE strategy"
Q1.Does this support READ_WRITE strategy ? If yes, how is this implemened ? Since redis does not have lock. Can you provide a more detailed document telling features that this library supports ?

Q2.How to set cache live time and idle time for default config and each entity class?

[2016-12-28 13:26] vaibhavswarnkar commented on #84
@johnou How do I do that. I'm pretty new to java

[2017-01-04 09:52] Rosetjau opened #88 "Support latest Hibernate versions"
Hi,

it seems that Hibernate Redis is not compatible with the latest versions of Hibernate (5.0.12, 5.1.3, 5.2.5).
In these versions of Hibernate the class `DefaultCacheKeysFactory` was modified and all the static methods (like `createEntityKey`) were renamed so that their name now starts with `static`. New methods were created that have the same name as the old ones, except that these new methods

[2017-01-04 11:38] debop commented on #88
Ok, try it.

[2017-01-04 11:41] debop commented on #81
Sorry, No, I will just only support Redisson. (It support all features for newer redis)

[2017-01-24 15:11] mrniko commented on #86
@debop @johnou You could use RLock object

[2017-01-24 15:17] mrniko commented on #86
@shougaoshougao

Use `redis.expiryInSeconds......` settings shown in example https://github.com/debop/hibernate-redis#redis-settings-for-hibernate-redis

[2017-02-10 00:44] contentfree commented on #53
Any chance of removing the logback dependency altogether? It causes maven to complain about SLF4J to complain about multiple bindings.

[2017-02-10 00:46] contentfree commented on #53
Or at least mark it as a development / test dependency so that it's not included upstream.

[2017-02-21 16:44] marcushenrique opened #89 "Support Redisson config through Spring Application properties"
Would you consider to expose Redisson config through Spring Application properties? In some cases it would be better if I could override only those properties that are changing between environments passing as parameters.

[2017-02-24 12:37] debop commented on #88
Sorry for late.
I just update latest versions

[2017-02-24 12:37] #88 closed

[2017-02-24 12:38] debop commented on #81
I try adopt lettuce ...

[2017-02-27 23:47] debop commented on #86
@mrniko Thanks your information.
@shougaoshougao we does not support lock yet. In READ_WRITE strategy, we does not lock, just remove cache in current

[2017-02-27 23:47] #86 closed

[2017-03-08 09:29] vijaykamal commented on #78
facing the same issue.  any updates on this?

[2017-03-21 13:05] lbornov2 commented on #89
+1 on this.  This is actually blocking us from using this project.

At the very least, Redisson config should be able to replace placeholder ${} values via System.getProperty(...) or System.getenv(...).

Our redis host and password are different in every environemnt, and hence, we cannot configure this properly unless we can externalize. the property values via placeholders.

[2017-03-22 11:30] Sanne opened #90 "Confusing package names"
Hi all,

I'm from the Hibernate team. We were not aware of this project, I just heard about this on our forums:
 - https://forum.hibernate.org/viewtopic.php?f=1&t=1044134

Kudos for making this! Redis support has been on my wish list, but always been too busy to try doing it so I'm very glad you all stepped up and made it happen.

There's a little problem though: we noticed you use "org.hibernate"

[2017-03-22 16:45] vaibhavsw opened #91 "RedisException when putting key in cache"
I'm getting below error when hibernate-redis trying to put value in redis:

`Fail to put cache item... key=com.vostics.cloud.model.Project#48
org.redisson.client.RedisException: NOAUTH Authentication`

Redis has no password to authenticate with and still giving error.

[2017-03-22 23:11] debop commented on #91
Your redis server need auth?
Put your auth info in redisson.yaml

[2017-03-22 23:13] debop commented on #90
@Sanne Thanks your information and propose.
I want to join hibernate organization ^^

[2017-03-27 14:07] fengbaicanhe opened #92 "Please deploy the release 2.4.0 to maven central"

[2017-03-29 17:40] osamasayed opened #93 "java.lang.IncompatibleClassChangeError when using ReadWriteRedisEntityRegionAccessStrategy.generateCacheKey"
Hello, I get exception `java.lang.IncompatibleClassChangeError` when trying to use `ReadWriteRedisEntityRegionAccessStrategy.generateCacheKey`.. Here is the stack trace:
[code]
Here is how how my `pom.xml` looks like:
[code]

And this is how my `hibernate.cfg.xml` looks like:

[code]

[2017-03-30 02:16] fengbaicanhe commented on #93
see issue #92 , or you can clone this project and install version release/2.4.0 in your local

[2017-03-31 17:59] osamasayed commented on #93
@debop Would it be possible to deploy 2.4.0 release to maven central?

[2017-04-01 00:36] debop commented on #93
use repository jcenter

[2017-04-01 00:36] #93 closed, assigned to nobody

[2017-04-27 00:35] debop opened #94 "Support Lattuce (Redis Client)"
Support Lattuce.

Support Sync and Async (Unsafe) mode.

[2017-04-27 00:36] debop commented on #81
Starting support lattuce ... please waiting ^^

[2017-05-16 14:04] peruzzo commented on #92
+1

[2017-06-15 02:20] domainname commented on #92
I'm also looking forward to see 2.4.0 on maven central.

[2017-07-07 18:22] mp911de commented on #81
IMHO, only one of [Jedis](https://github.com/xetorthio/jedis), [Jedipus](https://github.com/jamespedwards42/jedipus) and [Lettuce](https://github.com/lettuce-io/lettuce-core) makes sense to be included as Redis driver. Redisson and other higher level libraries might be quite powerful but their primary intent is to provide additional functionality on top of Redis (such as distributed locks, web ses

[2017-07-15 16:00] fanliao opened #97 "ReadOnlyRedisEntityRegionAccessStrategy.generateCacheKey always return null"
The return value of generateCacheKey function is hardcode with null in ReadOnlyRedisEntityRegionAccessStrategy class. So READ_ONLY entity cannot be put to cache when receive it from database.

[2017-07-28 07:32] kiranmaikasturi opened #98 "Cache Region prefix with Z:, What is this?"
I am using Redis as Hibernate 2L cache, using hibernate.cache.region_prefix=hibernate. I can see 2 keys like this
"hibernate.abc"
"Z:hibernate.abc"
Are these really 2 keys with same value, or different? How can i set custom prefix?

[2017-07-31 05:51] harelxm opened #99 "Compatibility Issue (Hibernate 5.2.10.Final, Spring-Boot)"
Hi.
I'm using the current version. It's a Spring Boot app with default config. Hibernate version: 5.2.10.Final.
I suspect there is a compatibility issue.

**My Configuration**:
spring.jpa.hibernate.ddl-auto=create-drop
spring.jpa.show-sql=true
spring.jpa.generate-ddl=true
spring.jpa.hibernate.use-new-id-generator-mappings=true

spring.jpa.properties.hibernate.cache.use_second_level_cache=true
spri

[2017-08-21 17:14] smahama commented on #97
I have the same issue too

[2017-08-23 09:25] MurthyKVN opened #100 "Hibernate cache eviction scheduler in app server(tomcat) cluster"
We are using Hibernate-redis in spring boot for entity cache. we have  configured expiry time for the entities in cache and the eviction is working fine.

if we deploy this application in a cluster of independent tomcat servers , will the eviction task run in each tomcat instance of the cluster? If so, will it be a overhead on App-server or Redis?

 Please let us know if there is a way to handle t

[2017-08-23 09:41] MurthyKVN commented on #99
Please use hibernate-redis version 2.4.0 @harelxm.. It is not available in maven central repository. Please check in jcenter [http://jcenter.bintray.com/com/github/debop/hibernate-redis](url)

[2017-09-20 01:22] chenshushan opened #101 "StrategySelectionException"
I met   the error
StrategySelectionException: Unable to resolve name [org.hibernate.cache.redis.hibernate4.SingletonRedisRegionFactory ] as strategy [org.hibernate.cache.spi.RegionFactory]????  What caused this

[2017-09-22 15:53] ti3r commented on #94
How is this issue going? The company that I work for would be very interested in this feature being develop. Anything we can help with?

[2017-09-26 02:38] debop commented on #101
What hibernate version you use ?

[2017-09-27 03:38] debop commented on #98
@kiranmaikasturi
Z means zset structure in redis for expiration timestamp store.
you can't custom prefix.

[2017-10-02 22:04] gubertu opened #102 "SpringBoot - ReadWriteRedisEntityRegionAccessStrategy"
When i call my webservice i got this issue.
I using hibernate-redis-2.4.0 jar, with Spring Boot.

`ERROR 8633 --- [nio-8080-exec-1] o.a.c.c.C.[.[.[/].[dispatcherServlet]    : Servlet.service() for servlet [dispatcherServlet] in context with path [] threw exception [Handler dispatch failed; nested exception is java.lang.AbstractMethodError: org.hibernate.cache.redis.hibernate52.strategy.ReadWriteRe

[2017-10-02 22:42] gubertu commented on #102
I updated my hibernate to 5.2 and now i got another issue:

Servlet.service() for servlet [dispatcherServlet] in context with path [] threw exception [Handler dispatch failed; nested exception is java.lang.NoSuchFieldError: INSTANCE] with root cause

java.lang.NoSuchFieldError: INSTANCE
	at org.hibernate.cache.redis.hibernate52.strategy.ReadWriteRedisEntityRegionAccessStrategy.generateCacheKey(Rea

[2017-10-02 23:31] gubertu commented on #102
@debop can u help me?

[2017-10-03 00:07] gubertu commented on #102
With Hibernate 5.0.X and Region Factory Class = org.hibernate.cache.redis.hibernate5.SingletonRedisRegionFactory it works. The problem is when use Hibernate 5.2

[2017-10-12 00:58] debop commented on #102
@gubertu I will look at that problem, thanks information.

[2017-10-17 16:16] #99 closed, assigned to nobody

[2017-10-18 16:02] leolimajr opened #103 "Continue the support on 3.X with latest redisson 2.X"
Guys,

I was thinking about add support to latest redisson (from 2.5.1 to 2.10.4) in 3.X branch. It is quite a jump, I know, but not being able to use java 1.8 in some projects might make this a valid point.

What do you think about it?

[2017-10-19 03:52] debop commented on #94
@ti3r Thanks for interest.
One question. What version do you use?
I will use lettuce 5.0.0.RELEASE (it is break group id from older version)

[2017-10-19 03:58] debop commented on #103
@leolimajr Hi, thanks your sugesstion.

I understood verious environments ( should support JDK 6 or 7 )
I will start support lettuce 5.0.0.REALSE first,
then support redisson 2.x version (optional depencency)

I must change all redis client package name or class name but same interface.

I can't push in office, work at home every day about 1-2 hour in various topics.
Sorry for slow for reposonse.

[2017-10-23 15:21] ti3r commented on #94
That version might work for us. We are only starting to adapt redis in our systems and no particular client still locked in our code. Mostly interested in being able to configure the base of the system using Java code instead of files and I think lettuce has better support for that. I might open a PR to your project to enable this in the current project just as an initial work around.
Thanks for y

[2017-11-17 18:28] larsduelfer commented on #102
I guess the problem is that with Hibernate 5.2.X the methods of DefaultCacheKeysFactory have been changed and are no longer static. Instead, there are a set of new methods all prefixed with "static..." that must be called instead. Any chance to change this?

[2017-11-30 06:10] blueskycheryl opened #105 "how can I fix it."
java.lang.IncompatibleClassChangeError: Expected static method org.hibernate.cache.internal.DefaultCacheKeysFactory.createEntityKey(Ljava/lang/Object;Lorg/hibernate/persister/entity/EntityPersister;Lorg/hibernate/engine/spi/SessionFactoryI
	at org.hibernate.cache.redis.hibernate5.strategy.ReadWriteRedisEntityRegionAccessStrategy.generateCacheKey(ReadWriteRedisEntityRegionAccessStrategy.java:54) ~[

[2017-11-30 06:43] #105 closed, assigned to nobody

[2017-12-04 15:08] Canos commented on #92
Hi guys, what happen to the project?
Is 2.4.0 stable enough? seems to be ready 9 months ago?

I hope everything goes well to @debop

[2017-12-12 09:19] swarnkarvaibhav opened #106 "Library giving error when trying to put data in redis"
``Failed to mark a promise as failure because it has failed already: DefaultChannelPromise@615c899(failure: io.netty.handler.codec.EncoderException: java.lang.UnsatisfiedLinkError: /tmp/snappy-1.1.7-2ea2ef43-dcde-41a5-abdf-d6e4dba8dc3c-libsnappyjava.so: Error loading shared library ld-linux-x86-64.so.2: No such file or directory (needed by /tmp/snappy-1.1.7-2ea2ef43-dcde-41a5-abdf-d6e4dba8dc3c-lib

[2017-12-19 16:53] nk523 opened #107 "joda-time DateTime not working for hibernate 4"
Getting error 'no default constructor for ISOChronology'

[2017-12-19 17:14] leolimajr opened #108 "Usage of hibernate-redis on clustered enviroment"
Hi,

Have you ever used hibernate-redis on a cluster environment? I'm seeing cache size grow insanely and keys never being expired despite a TTL being defined.

Am I doing something wrong? I suspect that EvictionScheduler (redisson) is not working welll on clustered setups. But I'm not sure.

Im using the 2.3.2 version.

**datasource config**
[code]

**hibernate-redis.config**
[code]

**redisson.y

[2018-01-16 02:44] domainname commented on #92
Hey guys,

Before hibernate-redis 2.4.0 is available on maven central, you may use another repo [Aliyun](http://maven.aliyun.com/nexus/content/groups/public/), which has 2.4.0 since several month ago. Just an FYI.

[2018-01-16 07:08] Canos commented on #92
hi, thanks for answering, do you know why not maven central?

[2018-01-17 07:37] domainname commented on #92
Sorry. I have no idea.

[2018-01-29 08:52] samyc1201 opened #109 "doesn't support JsonJacksonCodec"
while I changed the codec to `JsonJacksonCodec`, I got this error:

`Caused by: com.fasterxml.jackson.databind.exc.InvalidDefinitionException: Cannot construct instance of org.hibernate.cache.spi.entry.StandardCacheEntryImpl (no Creators, like default construct, exist): cannot deserialize from Object value (no delegate- or property-based Creator)`

I am quite sure I have Jackson library included:

[2018-02-21 11:36] Marek00Malik opened #110 "Hibernate does not read entities from cache"
Hi,
I have weird problem with my reds client, meaning hibernate always returns the entity from the db rather then from the cache.

I can see redis containing the searching keys, I even set the expireInSecond to 360000, but with no luck.

My configs:
[code]

[code]

hibernate-redis_dev.properties:
[code]

redisson configuration
[code]

Thanks for any help !

[2018-02-21 11:58] Marek00Malik commented on #110
I'm running Hibernate 5.2 final and hibernate-reds 2.4.0

[2018-03-01 04:10] hotleave commented on #102
`org.hibernate.cache.internal.DefaultCacheKeysFactory#staticCreateEntityKey` will be OK

[code]

[2018-03-06 10:09] psalkowski opened #111 "Java Config"
Hello, is there a way to create config via Java file instead of Yaml or JSON? I'm using Spring and need to wait until DI completes.

I want to use Spring's ObjectMapper with my custom serializers.

[2018-03-06 13:43] psalkowski opened #112 "Can not set java.time.ZonedDateTime field createdDate to java.lang.Double"
I'm using Spring Boot 1.5.10.RELEASE with Hibernate 4.3.11.Final.

When hibernate want to retrieve entity from cache, it throws an error. I'm trying to solve it somehow via overwriting JsonJacksonCodec with custom ObjectMapper, but still have error.

My current configuration for ObjectMapper is:

[code]

Exception:

[code]

[2018-03-08 03:51] losingsleeep opened #114 "Hibernate 5.0.11 DefaultCacheKeysFactory - NoSuchMethodError"
When using some versions of Spring Boot which are using Hibernate 5.0.11 by default, and **specify org.hibernate.cache.redis.hibernate5.SingletonRedisRegionFactory** in application properties, this run time error occurs when working with entities:
`java.lang.NoSuchMethodError: org.hibernate.cache.internal.DefaultCacheKeysFactory.staticCreateEntityKey(Ljava/lang/Object;Lorg/hibernate/persister/enti

[2018-03-08 14:02] Marek00Malik commented on #110
Anyone can help ?

[2018-03-08 15:07] Marek00Malik commented on #109
I have the same issue.
My version:
compile
'com.github.debop:hibernate-redis:2.4.0',
'jackson-databind: version: '2.8.9'

[2018-03-08 16:41] ferguardiola opened #115 "java.lang.IncompatibleClassChangeError: Expected static method org.hibernate.cache.internal.DefaultCacheKeysFactory.createEntityKey"
I got this error when reading
[code]

[2018-03-08 20:41] tandonraghav opened #116 "Incorrect result in Query caching for Same entity with Different Def. across JVMs."
I am using `Query caching` and I came across a scenario ...

I have 2 jvms where same entity has different definition (assume 1 jvm is not upgraded) .

JVM 1 - Updated Entity having boolean flag;
JVM2 - Not updated.

JVM1 does a findBy method resulting in `Id#9` then Query is stored as key (say `Q1`)
JVM2 does same findBy resulting in `Id#9` then Query is stored as key (say `Q2`) , here Id#9 objec

[2018-04-03 12:57] debop commented on #116
Are you flush JVM1 Updated entity?

[2018-04-03 12:59] debop commented on #112
You should use UserType for ZonedDateTime for saving Timestamp.
And update FST version

[2018-04-03 13:02] debop commented on #110
Can you check redis monitor ?
Maybe fail to put entity to redis ...
Any log?

[2018-04-03 21:26] tandonraghav commented on #116
If you mean JVM1 entity is cached , then yes and it is persisted in Redis and JVm2 as well persisted in redis.

[2018-04-04 06:14] debop commented on #116
I mean Session flush entity to save to Database,
If you do that, I will check this issue

[2018-04-04 08:29] tandonraghav commented on #116
It is a select call only so no persisting to Database.

[2018-04-06 14:53] debop commented on #116
It's hibernate problem about query and find by cache key from cache server.

[2018-04-06 15:11] #116 closed, assigned to nobody

[2018-04-13 09:28] janitham opened #117 "Error when trying to put data to Redis cache."
[code]
application.properties
[code]

pom.xml
[code]

[2018-04-15 11:36] sandippatil commented on #57
What is the solution for this? I am facing same issue.

[2018-04-19 22:53] raphaelLacerda commented on #115
same problem here

<dependency>
            <groupId>org.hibernate</groupId>
            <artifactId>hibernate-core</artifactId>
            <version>5.2.16.Final</version>
        </dependency>

<dependency>
            <groupId>com.github.debop</groupId>
            <artifactId>hibernate-redis</artifactId>
            <version>2.3.2</version>
        </dependency>

java.lang.IncompatibleClassCha

[2018-04-20 03:18] weliff opened #118 "Throwing error when hibernate-redis configuration by spring application properties"
Hi.

When I use the configuration for spring-boot `application.properties`, the input stream that reads `hibernate-redis.properties` throws `NullPointerException` because it can not find the file. Ideally, you should not need to create this file in the application.

`java.lang.NullPointerException: inStream parameter is null
	at java.base/java.util.Objects.requireNonNull(Objects.java:246) ~[na:na]

[2018-04-25 12:42] leihfei commented on #115
how about do it

[2018-04-26 15:05] MurthyKVN opened #119 "Multitenancy with Spring-Data-JPA"
Hi

we are using hibernate-redis-2.4.0 with Hibernate 5.0.12 and Spring-Data-JPA 1.11. We have enabled multitenancy with schema approach. We could see entries in redis server with keys containing tenantId and primary-key of the entity.

Now, while accessing the application same entity is being loaded for both tenants. We have observed from logs that the tenantId is being resolved properly in both

[2018-05-18 15:20] tandonraghav opened #120 "Snappy Error FAILED_TO_UNCOMPRESS(5)"
I am using this library for quite some time now, but out of nowhere sometime I start seeing Snappy Exceptions , Hibernate version = **4.3.11.Final** and hibernate-redis.version is **1.6.1**

I am clueless of why this is happening, this is just so random. Can you please let me know how to debug this or what can be possible issues?

Stack trace:-

[code]

[2018-05-21 16:23] #120 closed, assigned to nobody

[2018-07-12 10:37] debashishbharali commented on #115
I got the same error. Please help.
hibernate 5.2.8.Final
hibenrate-redis 2.3.2

[2018-07-12 13:53] debashishbharali commented on #115
The same issue has been resolved in DEVELOPMENT stream.
Working fine with current 2.5.0-SNAPSHOT.

@debop When is the **2.5.0** getting released?

[2018-07-14 01:08] cd-rnukala commented on #108
@debop: Is it still an issue. Say if we have multiple tomcat servers  and if we use hibernate redis for L2 cache. Is it handled or no? I do see on slack over flow there are few comments around it, but want to check?
https://stackoverflow.com/questions/7650129/redis-as-hibernate-second-level-cache/17932838#comment60964066_18479432

[2018-07-16 19:41] kutuni opened #122 "How to configure hibernate second level and spring cache the same redissonclient?"
How to configure hibernate second level and spring cache the same redissonclient?
My solution is access redissonClient after initialized SingletonRedisRegionFactory, than construct RedissonSpringCacheManager with redissonClient;

it can Programaticly like below (2 class)

public class XRedisFactory extends SingletonRedisRegionFactory {
    private static RedissonClient redissonClient = null;
    p

[2018-08-23 12:44] stkggit opened #123 "Is it supports Redis Engine version 4.0.10"
Hi,

I'm using Hibernate-reids library for second level cache, can i point to the redis Engine version 4.0.10 ?
as per your documentation it is mentioned that you have tested this with redis server 3.x. with Redisson 2.3.x.

Please provide your inputs.

Thanks,

[2018-08-24 20:34] hushino opened #124 "Using Jersey-grizzly redis-cli monitor no show anything."
The dao its very simple and the other settings are by default.
I tried many things nothing works.
The log shows normality.
The same configuration works with tomcat.
Tested with redis 2 and 4.

	public static SessionFactory getSessionFactory() {
		if (sessionFactory == null) {
			try {
				StandardServiceRegistryBuilder registryBuilder = new StandardServiceRegistryBuilder();

				Map<String, Object

[2018-08-27 12:58] honzaMaly opened #125 "Support latest Hibernate versions (5.3.X)"
Hi,
it seems that Hibernate Redis is not compatible with the latest versions of Hibernate (5.3.X). Due to this, I get the exception whenever I execute a query.
Thanks for this marvelous library!

[2018-08-30 06:15] andyrenkehe commented on #115
hibernate-redis 2.4.0 is ok

[2018-09-03 22:36] hushino commented on #124
I solved this
its not a real problem.

[2018-09-28 15:01] ti3r commented on #111
Hi @namerci, check PR https://github.com/debop/hibernate-redis/pull/104/commits.
That code allows configuration via Java Config classes. What we did in our project was declaring a managed bean in our configuration and setting the result as a system property when configuration was ready so the library could find it.
Hope it helps.

[2018-09-28 18:45] ti3r commented on #122
We had a similar problem, little difference is that we wanted to build a HealthIndicator for the client used in the region factory. We ended up creating a whole new client using the same Config object as the RegionFactory just to check the status.
I'm planning on opening a PR to fix it. Maybe using final RedisCacheUtil class to store a reference to the client?

[2018-09-28 23:21] ti3r opened #126 "Implement "hibernate.cache.keys_factory" in hibernate 5.x & 5.2"
Hibernate 5.x allows to set a Custom CacheKeysFactory if needed but library does not allow it.

According to hibernate doc:
*default (wraps identitifers in the tuple)
*simple (uses identifiers as keys without any wrapping)
*fully qualified class name that implements org.hibernate.cache.spi.CacheKeysFactory
should be supported by providers but DefaultCacheKeysFactory is used all around

https://doc

[2018-10-01 14:10] ti3r commented on #126
Created the Issue just to follow on the work. PR is waiting for review.

[2018-10-05 23:49] skygreen2001 opened #129 "org.springframework.orm.jpa.JpaSystemException: Could not set field value [PUBLISH] value by reflection"
hi
    my hibernate.version is 5.2.8.Final
    pom config:

        <dependency>
            <groupId>com.github.debop</groupId>
            <artifactId>hibernate-redis</artifactId>
            <version>2.4.0</version>
        </dependency>

        <dependency>
            <groupId>org.redisson</groupId>
            <artifactId>redisson</artifactId>
            <version>2.5.1</version>
        </

[2018-10-08 04:22] kutuni commented on #122
It's good idea. I am waiting...

[2018-10-15 09:19] alikhil opened #130 "Using single redis for several instance of application"
Will it be ok if several instances of the application using `hibernate-redis` will connect to a single instance of Redis?

Will it be ok? and will they share and manage the same cache?

Sorry if the question seems stupid, but I did not find an answer to this question in repo readme.md.

[2018-11-20 23:16] rshibley commented on #125
I moved to spring boot 2.1 and encountering the same issue.

[2018-11-26 02:33] jingcoder commented on #115
hibernate-redis 2.4.0 version can solve this issue

[2018-12-07 06:54] BEWINDOWEB commented on #115
yes,hibernate-redis 2.4.0 is ok. Maybe you can refer to the following.
## issue
When I use the redis-Cache in NonStrictReadWrite mode, It'll throws like:
[code]
## Reason
And I found the reason:

[code]
but

[code]
so, it should be `staticCreateEntityKey`, not `createEntityKey`, or singleton should be used. And in hibernate-redis 2.4.0 it fixed:
[code]
## How to resolve the problem
if you don't wa

[2018-12-28 01:36] debop commented on #130
It's distributed cache, so `hibernate-redis` share cache item within multiple client

[2019-01-07 04:51] FDU-SE-LAB opened #131 "Your project debop/hibernate-redis is using buggy third-party libraries [WARNING]"
Hi, there!
We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.
We have attached the buggy third-party libraries and corresponding jira issue links below for you to have more

[2019-02-07 09:54] anthonyrichir commented on #115
Hello,
When do you plan to publish version 2.4.0 ?

[2019-02-07 14:33] anthonyrichir commented on #92
It would be really handy to have it in maven central

[2019-02-19 09:47] null06 opened #132 "Hibenate 5.2.17: SessionFactoryImplementor.getProperties()Ljava/util/Map;- NoSuchMethodError"
Caused by: org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'sessionFactory' defined in class path resource [com/visionet/CmsManagerConfiguration.class]: Invocation of init method failed; nested exception is java.lang.NoSuchMethodError: org.hibernate.engine.spi.SessionFactoryImplementor.getProperties()Ljava/util/Map;
	at org.springframework.beans.factory.suppo

[2019-03-08 15:24] lbornov2 commented on #125
Is there an ETA for this?

[2019-03-15 14:46] ti3r commented on #126
This should be fixed after merge of PR. https://github.com/debop/hibernate-redis/pull/127

[2019-03-15 14:46] #126 closed, assigned to nobody

[2019-03-19 08:05] tufgupmi opened #133 "How can i configure cache setting in hiberante-redis.properties"
Hello,

How this settings from redisson can be configured in your hibernate-redis.properties ?

hibernate.cache.redisson.[REGION_NAME].eviction.max_entries - max size of cache. Superfluous entries in Redis are evicted using LRU algorithm. 0 value means unbounded cache. Default value: 0

hibernate.cache.redisson.[REGION_NAME].expiration.time_to_live - time to live per cache entry in Redis. Defined

[2019-04-03 14:28] aydinozturk commented on #109
Add these dependencies to your project
[code]

[2019-04-08 06:33] BrookShiwenge opened #134 "IncompatibleClassChangeError"
java.lang.IncompatibleClassChangeError: Expected static method org.hibernate.cache.internal.DefaultCacheKeysFactory.createEntityKey(Ljava/lang/Object;Lorg/hibernate/persister/entity/EntityPersister;Lorg/hibernate/engine/spi/SessionFactoryI

[2019-07-03 12:29] rahul-gupta commented on #99
@harelxm Were you able to resolve this issue. I am facing the same.

[2019-07-15 16:05] marcusleandro commented on #114
I am facing the sema problem with hibernate version 5.0.2.Final

[2019-07-15 16:05] marcusleandro commented on #114
I am facing the same problem with hibernate version 5.0.2.Final

[2019-07-15 16:13] losingsleeep commented on #114
My pull request to fix this issue was accepted. Please check which version you're using.

[2019-07-15 16:23] marcusleandro commented on #114
Hi, @losingsleeep! Where is it pull request? Thanks and nice job.

[2019-07-15 16:28] marcusleandro commented on #114
Just to you know. I've upgrade my hibernate version to 5.0.12 as you suggested and bug go away.

[2019-07-15 20:57] losingsleeep commented on #114
Here's the commit in which pull request #113 was merged:

https://github.com/debop/hibernate-redis/commit/6914b154f9989d06e4421c530ce505ca74a110c6

[2019-08-15 11:46] ThirdLibResearch opened #135 "Third-Party Library Version Inconsistencies in your project"
We are currently investigating the usage of different versions of the same third-party library in different modules of a project (i.e., the library version inconsistency problem). It is a non-trivial and time-consuming task to maintain the evolving third-party libraries. In that sense, it seems necessary to harmonize the different versions of the same third-party library in different modules into

[2019-08-29 04:02] huaism opened #136 "We use cluster mode, but always have a cache hit rate of 50%. Do you know why?"
![image](https://user-images.githubusercontent.com/19181634/63909319-cf919900-ca54-11e9-97c7-756a9c112b95.png)

[2019-08-29 04:03] huaism commented on #136
Even if we visit the same KEY multiple times, this result is

[2019-09-23 02:42] GitHeP opened #137 "When I replaced ehcache with "hibernate redis" I found that performance dropped a lot and the query cache became very slow"
When I replaced ehcache with "hibernate redis" I found that performance dropped a lot and the query cache became very slow 。Any attention can solve this problem? After all, the purpose of using the cache is to improve performance.

[2019-09-24 02:29] GitHeP commented on #137
I have tested it, the reason for the slow performance is that the problem with hibernate is not a problem with redis and redisson.

[2019-09-24 02:51] #137 closed, assigned to nobody

[2019-10-22 06:43] PrakashHadgal commented on #110
I am using Redis as Second level cache in hibernate. But not able to do that. please any one give me sample project on this.

[2019-10-22 06:43] PrakashHadgal opened #138 "I am using Redis as Second level cache in hibernate. But not able to do that. please any one give me sample project on this. Please mail in zip at hadgalprakash92@gmail.com"

[2019-10-22 07:40] PrakashHadgal opened #139 "Caused by: java.lang.IllegalArgumentException: Illegal character in scheme name at index 0: [localhost]:6379"

[2019-10-22 07:40] PrakashHadgal opened #140 "java.net.URISyntaxException: Illegal character in scheme name at index 0: [localhost]:6379"
2019-10-22T13:08:17,291 WARN  [main] (org.springframework.context.annotation.AnnotationConfigApplicationContext) Exception encountered during context initialization - cancelling refresh attempt: org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'redisClientProvider': Invocation of init method failed; nested exception is java.lang.IllegalArgumentException: Illeg

[2019-11-15 16:31] hegphegp opened #142 "Hibernate-redis second-level cache is hash type in redis, how to config expiration time of each hashkey"

[2019-11-18 01:56] hegphegp commented on #142
* My project is generated by Springboot, the config params are followed these
[code]

[2020-07-04 08:14] 4fath commented on #136
@huaism how did you get that fancy output?

[2020-07-09 04:42] huaism commented on #136
@4fath
link : https://github.com/junegunn/redis-stat

[2020-08-18 13:14] NitinK91 commented on #136
Hi @huaism , can you please provide the config to implement redis cache using redis-cluster.

[2020-08-19 04:11] huaism commented on #136
HI @NitinK91

# hibernate redis
hibernate.cache.region.factory_class=org.hibernate.cache.redis.hibernate52.SingletonRedisRegionFactory
hibernate.cache.region_prefix=hibernate
hibernate.cache.use_structured_entries=true
hibernate.cache.use_query_cache=false
hibernate.cache.use_second_level_cache=true
hibernate.cache.provider_configuration_file_resource_path=hibernate-redis.properties

# hibernate-r

[2020-08-19 07:31] NitinK91 commented on #136
Thanks @huaism for sharing.

I am facing an issue. Can you help.
It is giving following error::

 java.lang.IllegalArgumentException: port out of range:-1
at java.net.InetSocketAddress.checkPort(InetSocketAddress.java:143)
at java.net.InetSocketAddress.<init>(InetSocketAddress.java:224)
at org.redisson.client.RedisClient.<init>(RedisClient.java:93)
at org.redisson.connection.MasterSlaveConnectionM

[2020-08-19 07:34] NitinK91 opened #144 "Issue in connecting cluster"
I am facing an issue. Can you help.
It is giving following error::

java.lang.IllegalArgumentException: port out of range:-1
at java.net.InetSocketAddress.checkPort(InetSocketAddress.java:143)
at java.net.InetSocketAddress.(InetSocketAddress.java:224)
at org.redisson.client.RedisClient.(RedisClient.java:93)
at org.redisson.connection.MasterSlaveConnectionManager.createClient(MasterSlaveConnectionM

[2020-08-19 10:52] NitinK91 commented on #138
Hi @PrakashHadgal .

Have you implemented the Hibernate-redis as second level cache using redis-cluster.
For implementing using single server or sentinel i know but getting issue while doing with cluster.

[2020-09-14 09:59] giacomo-m opened #145 "Error starting hibernate JsonMappingException"
Hi, i've this error:

[code]

This is my reddison.yaml:

[code]

Can you help me?
Regards.
G

[2020-10-19 13:24] ptahchiev commented on #125
Yep +1. I will probably move to redisson.

[2022-10-31 13:05] ss-guvenc opened #156 "java.lang.IncompatibleClassChangeError: Expected static method org.hibernate.cache.internal.DefaultCacheKeysFactory.createEntityKey"
Hibernate Redis 2.4.0 has been removed from maven repo.  This problem was fixed in 2.4.0
How to fix this problem now?
Thx

[2022-11-07 07:41] wangwanlin opened #157 "Why not upgrade this library?"
We are using hibernate-redis, but we need to upgrade hibernate verison to 5.6 and it is not compatible. Could somebody help?

[2022-11-08 01:22] wangwanlin commented on #157
Has someone written the new version?  Who can share this? Big thanks.